# Ignore everything
*

# Exclude .gitignore from being ignored
!.gitignore

# Exclude Theme & Plugin directories
!wp-content/
!wp-content/themes/
!wp-content/themes/**
!wp-content/plugins/
!wp-content/plugins/**

# Ignore Twenty themes
/wp-content/themes/twenty*/

# Ignore Common Plugins
/wp-content/plugins/siteground-migrator
/wp-content/plugins/worker
/wp-content/plugins/wp-migration-duplicator
/wp-content/plugins/wordpress-importer
/wp-content/plugins/sg-security
/wp-content/plugins/sg-cachepress

# ReIgnore Igore Files
.DS_Store
node_modules
